version: 2
jobs:
  build:
    docker:
      - image: circleci/python:2.7
    steps:
      - checkout
      - run: sudo apt-get install shellcheck
      - run: git clone https://github.com/sstephenson/bats.git
      - run: ./bats/install.sh .
      - run: ./bin/bats test/assume-role.bats
